*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* PRIMARY COLORS */
    --PRIMARY-COLOR: #202020;
}

.wrapper{
    width: 100%;
    height: 100svh;
    background-color: var(--PRIMARY-COLOR);
}

.site-header{
    height: 15%;
}