@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shrikhand&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* PRIMARY COLORS */
    --PRIMARY-COLOR: #202020;
}

.wrapper{
    width: 100%;
    background-color: var(--PRIMARY-COLOR);
}

.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7*/
    clip: rect(1px, 1px, 1px, 1px);
}

@media (prefers-reduced-motion: no-preference){
    :root{
        scroll-behavior: smooth;
    }
}

/* HEADER STYLES */
.site-header{
    position: sticky;
    top: 0;
    background-color: var(--PRIMARY-COLOR);
    z-index: 1;
    height: 15svh;
}

.header-contents-wrapper{
    width: 100%;
    height: 100%;
    max-width: 1350px;
    margin: auto;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.company-tagline{
    font-size: 2.25rem;
}

.company-name{
    font-size: 1rem;
}


.nav-bar{
    display: none;
}

/* HERO SECTION STYLES */
.hero-section{
    height: 85svh;
    background-color: var(--PRIMARY-COLOR);
    background: url("https://github.com/Alyssandria/images_repo/blob/main/hero_bg.png?raw=true") no-repeat center;
    background-size: cover;
}

.hero-content{
    position: relative;
    margin: auto;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

.company-tagline{
    color: white;
    font-family: Shrikhand, sans-serif;
}

.company-subtitle{
    display: block;
    font-size: 3rem;
}


.button-wrapper{
    position: absolute;
    bottom: 3rem;
    width: 100%;
}
.hero-button{
    text-decoration: none;
    margin: auto;
    color: #BCBCBC;
    font-family: Poppins, sans-serif;
}

.dropdown-icon{
    display: block;
    margin-top: .5rem;
    font-size: 1.35rem;
}

/* OFFERS SECTION STYLES */

.offers-section{
    width: 100%;
    padding: 3rem 2rem;
    background-color: white;
}

.offers-content{
    max-width: 1350px;
    gap: 2.5rem;
    margin: auto;
}


.offers-content > .section-header{
    text-align: center;
}

.offer-greeting{
    font-family: Shrikhand, sans-serif;
    color: var(--PRIMARY-COLOR);
    font-size: 2rem;
}

.offer-sub-greeting{
    font-family: Poppins, sans-serif;
    color: #6A6A6A;
    font-size: .8rem;
}

.video-wrapper{
    width: 100%;
    margin-bottom: 2rem;
}

.youtube-video{
    width: 100%;
}
.offer-cards-wrapper{
    font-family: Poppins, sans-serif;
}

.offer-cards{
    transition: .2s all ease-in;
    cursor: pointer;
    background-color: #EAEAEA;
    border-radius: 30px;
    padding: 2em;
    margin-bottom: 2rem;
    box-shadow: 9px 10px 4px rgba(0,0,0,25%);
}

.offer-cards .model-name{
    text-align: center;
    margin-bottom: 2rem;
}

.offer-cards .product-specs-list{
    margin-left: 1rem;
    font-size: .9rem;
    margin-bottom: 2rem;
}

.offer-button-wrapper{
    text-align: center;
}

.offer-button{
    display: block;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 15px;
    padding: 1rem;
    background-color:  var(--PRIMARY-COLOR);
}

.offer-cards-wrapper{
    margin-bottom: 2rem;
}
.offer-icons{
    font-family: Poppins, sans-serif;
    width: 100%;
    color: var(--PRIMARY-COLOR);
    text-align: center;
    font-size: .8rem;
}
.offer-icons i{
    margin-bottom: .5rem;
    font-size: 2rem;
    display: block;
}

.offer-icons > div{
    width: 50%;
    margin: 1rem auto;
}

/* SIGNUP SECTION STYLES */

.signup-section{
    width: 100%;
    background-color: var(--PRIMARY-COLOR);
    background: url("https://github.com/Alyssandria/images_repo/blob/main/Signup%20BG.png?raw=true") no-repeat;
    background-size: cover;
}

.signup-section .signup-content{
    display: grid;
    gap: 2rem;
    color: white;
    width: 100%;
    background-size: cover;
    padding: 2rem;
}

.signup-section h2{
    text-align: center;
    font-family: Shrikhand, sans-serif;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.signup-section p{
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: .8rem;
    font-style: italic;
}

.signup-section input{
    font-family: Poppins, sans-serif;
}

.signup-section input[type="email"]{
    display: block;
    padding: .5rem 1rem;
    margin-bottom: 2rem;
    width: 100%;
}

.signup-section input[type="submit"]{
    display: block;
    margin: auto;
    padding: 0.5rem 1rem;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: #2AFC58;
}

/* FOOTER STYLES */
footer{
    font-family: Poppins, sans-serif;
    color: #BEBEBE;
    padding: 2rem;
    text-align: center;
    font-size: .8rem;
}

footer .logo{
    margin-bottom: 1rem;
}

/* HOVER STYLES */

.offer-cards:hover{
    transform: scale(1.05);
}

.offer-button-wrapper:hover a{
    background-color: #838383;
}

.nav-links-wrapper li:not(:last-child):hover a{
    padding: 0.5rem;
    background-color: #4b4b4b;
    text-decoration: underline;
}

.nav-links-wrapper li:last-child:hover{
   transform: translateY(-5px);
}



/* MEDIA QUERIES */

/* MOBILE TO TABLETS */ 
@media (min-width: 23rem){
    .youtube-video{
        height: 320px;
        max-width: 569px;
    }
    .video-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media (min-width: 25rem){
    .offer-icons{
        display: flex;
        font-size: 1rem;
        max-width: 680px;
        margin: auto;
    }

    .offer-cards li{
        font-size: 1rem;
    }

    .offer-cards h3{
        font-size: 1.5rem;
    }

    .header-subtitle{
        font-size: 1rem;
    }

    .offer-greeting{
        font-size: 3rem;
    }
    .offer-sub-greeting{
        font-size: 1.5rem;
    }

    .company-subtitle{
        font-size: 4.5rem;
    }

    .company-name{
        font-size: 1.5rem;
    }

    .button-wrapper{
        font-size: 1.25rem;
    }

    .offer-cards{
        max-width: 540px;
        margin: 4rem auto;
    }
}

@media (min-width: 39rem){
    .signup-section input[type="submit"]{
        margin: unset;
    }
    .signup-section input[type="email"]{
        margin: unset;
        width: 70%;
    }
    form{
        justify-content: space-around;
        align-items: center;
        display: flex;
    }
}


/* Laptop - Deesktop Styles */
@media (min-width: 48rem){
    .offer-cards-wrapper{
        gap: 1rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .offer-cards{
        margin: 2rem;
    }

    .signup-section .signup-content{
        margin: auto;
        max-width: 1350px;
        justify-content: space-around;
        align-items: center;
        display: flex;
    }

    form{
        width: 50%;
    }

    .nav-bar{
        display: block;
        width: 30%;

    }

    .nav-bar .nav-links-wrapper{
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        text-decoration: none;
    }

    .nav-links-wrapper li{
        transition: .2s all ease-in-out;
    }
    .nav-bar .nav-links-wrapper a{
        transition: .2s all ease-in-out;
        font-family: Poppins, sans-serif;
        color: white;
        font-size: .8rem;
        text-decoration: none;

    }

    .nav-link-btn{
        padding: .5rem;
        border-radius: 10px;
        color: #202020 !important;
        font-weight: bold;
        background-color: #2AFC58;
    }

    .site-header .header-contents-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;
    }

    .signup-section h2{
        text-align: left;
    }

    .signup-section p{
        text-align: left;
    }


}

